section.container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    header {
        background-color: #fdeb00;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    }

    nav {
        display: flex;
        justify-content: center;
        background-color: #2f2e2b;
        gap: 1rem;

        a {
            color: #fdeb00;
            text-transform: uppercase;
            font-weight: bold;
            padding: 10px;
            text-decoration: none;

            &:hover {
                background-color: #fdeb00;
                color: #2f2e2b;
            }

            &.current-page {
                color: white;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }

    section.content {
        background-color: #fdeb00;

        div.center {
            h3 {
                text-align: center;
                margin: 20px 15px 0px 15px;
            }
        }

        div.end {
            h3 {
                text-align: center;
                margin: 20px 15px 15px 15px;
            }
        }

        div.row-rightimg {
            display: flex;

            div {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1px;

                h3 {
                    margin: 15px 0px 0px 25px;
                }
            }
        }

        div.row-leftimg {
            display: flex;

            div {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1px;

                h3 {
                    margin: 15px 25px 0px 0px;
                }
            }
        }

        .card {
            display: inline-block;
            width: 30%;
            margin: 1%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 5px; /* 5px rounded corners */
        }

        .card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px 5px 0 0;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;

            h2{
                text-align: center;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            h4{
                text-align: center;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            p{
                text-align: center;
            }
        }

        div.title{
            display: flex;
            flex-direction: column;

            img{
                margin: 0;
            }

            h1{
                text-align: center;
            }

        }

        div.columns {
            display: flex;

            div {
                width: 50%;
                display: flex;
                flex-direction: column;
                padding: 10px;
                gap: 10px;
            }

                div.inputBlock {
                    border: 3px solid black;
                    background-color: #fdeb00;
                    padding: 10px;
                    border-radius: 5px;
                    width: 93%;

                    &:hover {
                        background-color: #2f2e2b;

                        input, select {
                            background-color: #fdeb00;
                        }
                    }

                    input, select {
                        padding: 10px;
                        color: #2f2e2b;
                    }

                    div.checkboxes {
                        width: 100%;
                        padding: unset;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        flex-wrap: wrap;

                        div.checkbox {
                            border: 3px solid black;
                            border-radius: 5px;
                            display: flex;
                            flex-direction: column;
                            width: 40%;

                        }
                    }
                }
            }
        }

        div.submit-button {
            margin: 20px;
            display: flex;
            justify-content: center;
        }

    footer {
        background-color: #2f2e2b;
        max-height: 150px;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
